body {
    margin: 70px;
    border: 0;
    padding: 0;
    background: #1a1a1a;
    color: #ffffff;
}

.no-tool-selected {
    cursor: default;
}

.readonly-mode {

}

.polygon-readonly-mode {

}

.marker-readonly-mode {

}

.draw-marker-inside-polygon-only {

}

.readonly-mode .polygon-item circle {
    display: none !important;
}

.readonly-mode .marker-point {
    cursor: default !important;
}

.polygon-readonly-mode .polygon-item circle {
    display: none !important;
}

.marker-readonly-mode .marker-point {
    cursor: default !important;
}

.draw-marker-inside-polygon-only.marker-mode svg
{
    cursor: not-allowed !important;
}

.draw-marker-inside-polygon-only svg .polygon-item
{
    cursor: default !important;
}

.marker-mode svg .polygon-item
{
    cursor: pointer !important;
}

.draw-mode {
    cursor: crosshair;
}

.eraser-mode {
    cursor: url(../icons/eraser.svg), alias;
}

.draw-marker-inside-polygon-only.drag-mode g,
.drag-mode g {
    cursor: grab !important;
}

.marker-mode {
    cursor: pointer;
}

.erased-shape {
    animation: 0.5s erase-shape linear;
}

.marker-point {
    /*transition: all 0.3s !important;*/
}

.marker-point path {
    fill: #ff8b5d;
    stroke: #e06253;
    stroke-width: 5px;
}

@keyframes erase-shape {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

h2.title {
    font-family: Arial, Helvetica, sans-serif;
}

.polygon-editor {
    position: absolute;
    top: 0;
    left: 0;
}

.polygon-editor svg {
    transform: scale(0.05);
    --webkit-transform: scale(0.05);
    -moz-transform: scale(0.05);
    -moz-transform-origin: left center;
    transform-origin: top left;
    background-size: contain !important;
    background-repeat: no-repeat!important;
    background-position: left top;
    width: auto;
    height: auto;
}

#editorData {
    width: 100%;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    box-sizing: border-box;
    outline: 0;
    padding: 16px;
}

circle.handle {
    fill: yellow;
    stroke: #cb9c0f;
    stroke-width: 2px;
}


.editor-container {
    border: 1px solid #c6b8b8;
    position: relative;
    height: 67vh;
    overflow: auto;
}

.marker-point {
    cursor: pointer;
}

#add_map_zone_polygon_editor .action-buttons .btn{
    padding: 4px 15px;
    border-width: 2px;
}

#add_map_zone_polygon_editor .action-buttons .btn.active{
    background-color: #575757 !important;
    border-color: #b1b1b1 !important;
}
#add_map_zone_polygon_editor .action-buttons .btn.active:hover{
    background-color: #575757 !important;
    border-color: #b1b1b1 !important;
}
