body {
    margin: 70px;
    border: 0;
    padding: 0;
    /* background: url(https://scx2.b-cdn.net/gfx/news/hires/2012/howcanyousee.png);
    background-size: cover;
    background-repeat: no-repeat; */
}

path {
    fill: lightsalmon;
    stroke: salmon;
    stroke-width: 5px;
}

h2.title {
    font-family: Arial, Helvetica, sans-serif;
}

.polygon-editor {
    width: 800px; 
    height: 500px;
    border: 2px solid #a6a6a6;
    border-radius: 5px;
}

#editorData {
    margin-top: 20px;
    width: 800px;
}