body {
    margin: 70px;
    border: 0;
    padding: 0;

}

.no-tool-selected {
    cursor: default;
}

.draw-mode {
    cursor: crosshair;
}

.eraser-mode {
    cursor: url(./icons/eraser.svg), alias;
}

.drag-mode {
    
}

.drag-mode g {
    cursor: grab;
}

.erased-shape {
    animation: 0.5s erase-shape linear;
}

@keyframes erase-shape {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

path {
    fill: lightsalmon;
    stroke: salmon;
    stroke-width: 5px;
}

h2.title {
    font-family: Arial, Helvetica, sans-serif;
}

.polygon-editor {
    width: 800px;
    height: 500px;
    border: 2px solid #a6a6a6;
    border-radius: 5px;
    transform: scale(1);
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain !important;
}

#editorData {
    margin-top: 20px;
    width: 800px;
}

.action-buttons {
    display: flex;
    margin-bottom: 10px;
}

.action-buttons button {
    padding: 6px 10px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    background: #ffffff;
    margin-right: 10px;
    cursor: pointer;
}

.action-buttons button:hover {
    background: #f4f4f4;
}

circle.handle {
    fill: yellow;
    stroke: #cb9c0f;
    stroke-width: 2px;
}


.editor-container {
    border: 1px solid red;
    position: relative;
    height: 700px;
    overflow: auto;
}